
    <div class="grid wide">
            <div class="navigation-menu navigation-menu-details">
                <div class="breadcrumb">
                    <a class="breadcrumb-item" href="/"><span>Trang chủ</span></a>
                    <span class="icon icon-next"><svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path></svg>
                    </span>
                    <a class="breadcrumb-item" href="/Products"><span>Sản phẩm</span></a>
                    <span class="icon icon-next"><svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path></svg>
                    </span>
                    <a class="breadcrumb-item" href="/api/book/detail/{{data.dataValues.bookId}}"><span>{{data.dataValues.bookName}}</span></a>
                    <span id="mainId" style="visibility: hidden;">{{data.dataValues.bookId}}</span>
                    
                </div>
            </div>
        <div class="row sm-gutter details_container"></div>
            <!--Section: Block Content-->
                <section class="mb-5">

                <div class="row">
                    <div class="col-md-5 mb-4 mb-md-0">

                    <div id="mdb-lightbox-ui"></div>

                    <div class="mdb-lightbox">

                        <div class="row product-gallery mx-1">

                        <div class="col-12 mb-0 detail-product-img">
                            <figure class="view overlay rounded z-depth-1 main-img">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                                data-size="710x823">
                                <img src="{{data.dataValues.coverImage}}"
                                class="img-fluid z-depth-1">
                            </a>
                            </figure>
                            
                        </div>
                        <div class="col-12">
                            <div class="row">
                            <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                <img src="/img/products/1.jpg"
                                    class="img-fluid">
                                <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                <img src="/img/products/2.jpg"
                                    class="img-fluid">
                                <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                <img src="/img/products/3.jpg"
                                    class="img-fluid">
                                <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                <img src="/img/products/4.jpg"
                                    class="img-fluid">
                                <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                    </div>

                    </div>
                    <div class="col-md-7">

                    <h5 class="details-header">{{data.dataValues.bookName}}</h5>
                    <p class="mb-2 text-muted text-uppercase small details-header-category">Shirts</p>
                    <div class="home-product-item__rating">
                        <i class="home-product-item__star--gold fas fa-star"></i>
                        <i class="home-product-item__star--gold fas fa-star"></i>
                        <i class="home-product-item__star--gold fas fa-star"></i>
                        <i class="home-product-item__star--gold fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>
                        <span class="mr-1">
                        <span class="home-product__price-current">{{data.dataValues.price}}</span>
                        <span class="home-product__price-old">{{data.dataValues.coverPrice}}</span>
                        <span class="discount-percent"></span>
                    </p>
                    
                    <p class="pt-1">Giá đã bao gồm VAT (*)</p>
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><p class="quick-details-pro">Tác giả:</p></th>
                                <td class="tbAuthor"></td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><p class="quick-details-pro">Phiên bản:</p></th>
                                <td>{{data.dataValues.bookLayout}}</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><p class="quick-details-pro">Năm xuất bản:</p></th>
                                <td>{{data.dataValues.publishYear}}</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><p class="quick-details-pro">Ngôn ngữ:</p></th>
                                <td>{{data.dataValues.language}}</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>

                    <div class="QuantityInput__Wrapper">
                        <p class="QuantityInput__label">Số Lượng</p>
                            <div class="group-input">
                                <button class="QuantityInput_disable" id="btn-reduce-quantity" onclick="changeQuantity(-1)">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="text" value="1" class="input-quantity">
                                <button id="btn-increase-quantity" onclick="changeQuantity(1)">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                    </div>

                    <div class="space">
                        
                    </div>


                    <button type="button" id="btnPayment" class="btn btn--primary btn-md mr-1 mb-2 btn--primary-large" value="{{data.dataValues.bookId}}">Buy now</button>
                    <button type="button" id="btnAddToCard" class="btn btn-light btn-md mr-1 mb-2 btn-light-large" value="{{data.dataValues.bookId}}">
                        <i class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
                    </div>
                </div>

                </section>
                <!--Section: Block Content-->

                {{!-- Similar products slider --}}
                
                <div class="similar-slider">

                    <div class="details-prod-heading">
                        <p>Sản phẩm tương tự</p>
                    </div>

                    <div class="featuredProd__slide no-gutter" id="featuredContainer">
                       
                    </div>
                </div>
                {{!-- Description table --}}
            <div class="row details-info-container">
                <div class="col c-8">
                    <div class="tab-pane fade show description-table details-prod-heading" id="info" role="tabpanel" aria-labelledby="info-tab">
                            <p>Thông tin chi tiết</p>
                            <table class="table table-striped table-bordered mt-3">
                                <thead>
                                <tr>
                                    <th scope="row" class="w-150 dark-grey-text h6">Tên sách:</th>
                                    <td><em>{{data.dataValues.bookName}}</em></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" class="w-150 dark-grey-text h6">Tác giả:</th>
                                    <td><em class="tbAuthor"></em></td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr>
                                    <th scope="row" class="w-150 dark-grey-text h6">Nhà xuất bản:</th>
                                    <td><em class="tbPulisher">{{data.Publisher.publisherName}}</em></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" class="w-150 dark-grey-text h6">Năm xuất bản:</th>
                                    <td><em>{{data.dataValues.publishYear}}</em></td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr>
                                    <th scope="row" class="w-150 dark-grey-text h6">Kích thước:</th>
                                    <td><em>{{data.dataValues.bookSize}}</em></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" class="w-150 dark-grey-text h6">Dịch giả:</th>
                                    <td><em class="tbTranslator">{{data.dataValues.bookName}}</em></td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr>
                                    <th scope="row" class="w-150 dark-grey-text h6">Hình thức bìa:</th>
                                    <td><em>{{data.dataValues.bookLayout}}</em></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" class="w-150 dark-grey-text h6">Số trang:</th>
                                    <td><em>{{data.dataValues.quantityOfPage}}</em></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        
                        <div class="tab-pane fade show description-table" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="details-prod-heading">
                                <p>Mô tả sản phẩm</p>
                            </div>
                            
                            <p class="pt-1">{{data.dataValues.description}}</p>
                        </div>
                    </div>

                    <div class="col c-4">
                        <a href="" class="details-banner">
                            <img src="/img/banner/banner2.jpg" alt="Details-banner">
                        </a>
                        <span class="close-banner">Ad</span>
                    </div>
            </div>
            <div class="details-info-container rating-container">
                <div class="tab-pane fade show description-table" id="rating-details" role="tabpanel" aria-labelledby="description-tab">
                            <div class="details-prod-heading">
                                <p>Đánh giá từ khách hàng</p>
                            </div>

                            <hr>

                            <div class="rating-info">
                                <div class="media">
                                <img class="d-flex mr-3 z-depth-1" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="62" alt="Generic placeholder image">
                                <div class="media-body">
                                <div class="d-sm-flex justify-content-between">
                                    <p class="mt-1 mb-2">
                                        <strong>Marthasteward </strong>
                                        <span>– </span><span>January 28, 2020</span>
                                    </p>
                                    <span class="rating-details-star">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </span>
                                </div>
                                <p class="mb-0">Nice one, love it!</p>
                                </div>
                                </div>
                                <hr>
                                <h5 class="mt-4">Add a review</h5>
                                <p>Your email address will not be published.</p>
                                <span class="rating-details-star">
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </span>
                                <div class="add-rating">
                                    <!-- Your review -->
                                    <div class="md-form md-outline">
                                        <label for="form76">Your review</label>
                                        <textarea id="form76" class="md-textarea form-control pr-6" rows="10"></textarea>
                                    </div>
                                
                                    <div class="text-right pb-2">
                                        <button type="button" class="btn btn--primary">Add a review</button>
                                    </div>
                                </div>
                            </div>
                            
                        
                    </div>
            </div>
            
            </div>  
        </div>
    </div>

<script>
    let buttonAdd = document.querySelector('#btn-increase-quantity');
    let buttonRed = document.querySelector('#btn-reduce-quantity');
    const btnPayment = document.querySelector('#btnPayment');
    const btnAddToCard = document.querySelector('#btnAddToCard');


    var input = document.querySelector('.input-quantity');

    function changeQuantity(quantity) {
        var oldQuantity = Number(input.value);
        input.value = Number(oldQuantity + quantity);
        if(input.value>1) {
            buttonRed.classList.remove('QuantityInput_disable');
            buttonRed.style.pointerEvents = "auto";
        } else {
            buttonRed.classList.add('QuantityInput_disable');
            buttonRed.style.pointerEvents = "none";
        }
    }

    !async function() {
        const bookId = parseInt(document.querySelector('#mainId').innerHTML);

        // Sub Product images
        const discountPercent = document.querySelector('.discount-percent');
        function calPercent(coverPrice, price) {
            discountPercent.innerHTML = parseInt((coverPrice/price)*100 - 100);
        };

        let dataBook = await fetch(hostname + "api/book/" + bookId)
            .then(response => response.json())
            .then(data => {
                return data;
            })
            .catch(error => {
                console.log(error);
            });
        
        // Percent
        function calPercent(coverPrice, price) {
            return parseInt((coverPrice/price)*100 - 100);
        }

        console.log(dataBook)
        const percent = calPercent(dataBook.coverPrice, dataBook.price);
        discountPercent.innerHTML = "-" + percent + "%";

        // Author
        const authorDom = document.querySelectorAll('.tbAuthor');
        let authorsStr = dataBook.Authors.map(element => {
            return element.authorName;
          }).join(', ');
        authorDom.forEach(element => element.innerHTML = authorsStr);

        // Publisher
        const tbPulisher = document.querySelector('.tbPulisher');
        let publisherStr = dataBook.Publisher.publisherName;
        tbPulisher.innerHTML = publisherStr;

        // Translator
        const tbTranslator = document.querySelector('.tbTranslator');
        var translatorStr = dataBook.Translators.map(element => {
            return element.translatorName;
          }).join(', ');
        tbTranslator.innerHTML = translatorStr;

        let dataCart = await fetch(hostname + "api/cart/session")
                .then(response => response.json())
                .then(data => {
                    return data;
                })
                .catch(error => {
                    console.log(error);
                });
        
        // Add to card
        btnAddToCard.onclick = function() {
            console.log(dataCart)
            let objBookCart = {
                    BookBookId: bookId,
                    CartCartId: dataCart.cartId,
                    }
            console.log(objBookCart)
            const url = `${hostname}api/BookCart/`;

            let addCardResult = fetch(url,  {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },
                        method: 'POST',
                        body: JSON.stringify(objBookCart),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            console.log(data);
                                const cartContainer = document.querySelector('.header__cart-list-item');
                                const noCartContainer = document.querySelector('.header__cart-no-cart');
                                const outerCard = document.querySelector('.header__cart-have-prod');
                                const cardNotice = document.querySelector('.header__cart-notice');

                                let dataCart = fetch(hostname + "api/cart/session")
                                    .then(response => response.json())
                                    .then(data => {
                                        if(data.message != 'userId=undefined.'){
                                                let numCardNotice = parseInt(cardNotice.innerHTML);
                                                numCardNotice+=1;
                                            
                                                if(data){
                                                    let cartHTML = data.Books.map(element => {

                                                        return  `
                                                            <li class="header__cart-item" value="${element.bookId}">
                                                                <img src="${element.coverImage}" alt="Product image" class="header__cart-img">
                                                                <div class="header__cart-item-info">
                                                                    <div class="header__cart-item-head">
                                                                        <h5 class="header__cart-item-name">${element.bookName}</h5>
                                                                        <div class="header__cart-item-price-wrap">
                                                                            <span class="header__cart-item-price">${element.price}</span>
                                                                            <span class="header__cart-item-multiply">x</span>
                                                                            <span class="header__cart-item-qnt">${element.BookCart.quantity}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="header__cart-item-body">
                                                                        <span class="header__cart-item-description">Phân loại: ${element.language}</span>
                                                                        <span class="header__cart-item-remove">Xóa</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        `
                                                    }).join('');
                                                    console.log(cartHTML)
                                                    noCartContainer.style.display = 'none';
                                                    outerCard.style.display = 'block';
                                                    cartContainer.innerHTML = cartHTML;
                                                    cardNotice.innerHTML = numCardNotice;
                                                } else {
                                                    noCartContainer.style.display = 'block';
                                                    outerCard.style.display = 'none';
                                                }
                                            }
                                        return data;
                                    })
                                    .catch(error => {
                                        console.log(error);
                                    });
                                
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                    if((addCardResult.PromiseResult)) {
                        alert("Vui lòng đăng nhập");
                        return;
                    };      
            };


        let dataBooks = await fetch(hostname + "api/book")
            .then(response => response.json())
            .then(data => {
                return data;
            })
            .catch(error => {
                console.log(error);
            });

        const featuredContainer = document.querySelector('#featuredContainer');

        let featured = await fetch(hostname + "api/category/name/S%C3%A1ch%20v%C4%83n%20h%E1%BB%8Dc")
            .then(response => response.json())
            .then(data => {
                return data[0].Books;
            })
            .catch(error => {
            console.log(error);
            });

        let featuredHTML = featured.map(element => {

             let imgFeatured = dataBooks.find(book => {    
                
                if(book.bookId === element.bookId) {
                    return book;
                };
            });
           
            let imgPath = imgFeatured.coverImage;
            let percentDiscount = calPercent(element.coverPrice, element.price);
            return  `
                <div class="slick__item">
                    <div class="slick__item-content">
                        <!-- Product item -->
                        <a href="${hostname}api/book/detail/${element.bookId}" class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(${imgPath});"></div>
                            <h4 class="home-product-item__name">${element.bookName}</h4>
                            <div class="home-product-item__price">
                                <span class="home-product__price-old">${element.coverPrice}đ</span>
                                <span class="home-product__price-current">${element.price}đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__rating">
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="home-product-item__star--gold fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="home-product-item__sold">88 đã bán</span>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__brand">${element.publishYear}</span>
                                <span class="home-product-item__origin-name">Bookstore</span>
                            </div>

                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Yêu thích</span>
                            </div>

                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">43%</span>
                                <span class="home-product-item__sale-off-label">GIẢM</span>
                            </div>
                        </a>
                        
                    </div>
                </div>
            `
        }).join('');
        
        featuredContainer.innerHTML = featuredHTML;
        $(document).ready(function () {
            $('.featuredProd__slide').slick({
                slidesToShow: 5,
                slidesToScroll: 2,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
            });
        });
    }();
  

</script>
